<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <connectionStrings>
        <add name="DB" connectionString=" 
        yqV+V9oz+FWy0NBj20nKMFaMXDoxPvmh3wW10/GqG5Iy9cAvHqbPPx5kTdyuE/XBifFjG4WRJ58g+dE9CvJLL+97Etr5LWJ8LldpP+9r73KhRMBmU6iD6TRiX3HU2QEXiXEQoaX+mJhV4IyMikxYMA==
    "/>
    </connectionStrings>
</configuration>
